
 /*@media (max-width:1100px) {
   .miniplant{
      background-size: 200px;
   }
   .first-column{
      padding-left: 0;
   }
   .second-column{
      padding-left: 15%;
   }
 .first-column li, .second-column li {
   font-size: var(--size-xs);
 }
}*/