.anmeldenbutton{
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.logout {
    text-align: center;
    margin-top: 20px;
}

.logout a {
    color: #e44d26;
    text-decoration: none;
    font-weight: bold;
}
.setting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30%;
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom: solid rgb(255, 255, 255);

}
.setting button {
  margin: auto;
  padding: 5px;
  width: 7%;
}

.setting button img {
     width:15px;
}
.setting p {
    font-size: 1rem;
    margin: auto;
}
.hallo{
    margin-left: 5%;

}
.link{
  text-align: center;
  text-decoration: none;
}
