.nav__dropdown {
    margin-top: 3%;
    display: none;
    position: absolute;
    left: 65%;
    border-radius: 5%;
    color: var(--color-second__dark);
    box-shadow: 0 4px 8px var(--color-second__dark);
    padding: 3%;
    background-color: white;
     
}

.nav__dropdown.opened {
    display: block;
    align-items: center;
    min-height: 20rem;
    min-width: 20rem;
}