@import url("site-header.css");
@import url("call-to-action.css");
@import url("flip-card.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    color: inherit;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    
}
.document {
    background-image: url('/img/footer.jpg');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.main-nav {
    color:rgb(154, 159, 118);
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    
}
.logo {
    display: flex;
    color: darkgreen;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction:row;
}
.nav-links  a {
    display: flex;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
    display:inline-block;
    padding:16px;

}
.nav-icons a {
    display: flex;
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}


.img-ersteSeite {
    background-image: url(/img/plants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    height: 600px;
    width: 100%;
}
.img-ersteSeite h1{
    display: flex;
    max-width: 500px;
    padding-top: 5%;
    padding-left: 75%;
    font-size: 24px;
    color:rgb(55, 117, 62);
}
.img-ersteSeite p a{
    text-decoration: none;
    display: flex;
    font-size: 24px;
    text-align: center;
    padding-left: 45%;
    padding-top: 16%;
    color:rgb(255, 255, 255);
}
.text {
    text-align: center;
    padding-top: 15px;
    color: darkgreen;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.recommendations {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.recommendations li {
    flex: 1;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}
.recommendations a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.recommendations img {
    max-width: 100%;
    height: auto;
}
.recommendations img:first-child {
    height: 257px;
    width: 237px ;
}
.recommendations li:last-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

 .miniplant {
    background-image: url(/img/plantutamicuta.jpg);
    background-repeat: no-repeat;
    padding-top: 35px;
    background-size: contain;
    background-position:center;
}
 .first-column li {
    list-style: none;
    padding-top: 20px;
    padding-left: 300px;;
    color: rgb(18, 50, 18);
    font-size: 25px;
    font-weight: bold;
 } 
 .second-column li {
    list-style: none;
    text-align:end;
    padding-right: 300px;
    padding-bottom: 25px;
    color: rgb(18, 50, 18);
    font-size: 25px;
    font-weight: bold;
 }
 .text-reise {
    text-align: center;
    padding-top: 20px;
    color: rgb(9, 9, 9);
    font-size: 25px;
    font-weight: bold;
    background-color: hsl(34, 78%, 91%, 0.37);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 .reise {
    padding-top: 20px;
    padding-left: 30px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: hsl(34, 78%, 91%, 0.37);
    gap: 10rem;
}

.reise li {
    flex: 1;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}
.reise a {
    display:block;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding:40px;
    
}

.reise img {
   width: 60px;
    height: auto;
}


.footer {
    background-color: rgba(167, 186, 157, 0.5 );
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.follow {
    
    width: 75%; 
    box-sizing: border-box; 
    color: #2f523a ;
}
.contact {
    width: 20%; 
    box-sizing: border-box; 
    color: #3e8956 ;
}


ul.follow {
    list-style-type: none;
    padding: 2%; 
    margin: 0; 
}
ul.contact {
    list-style-type: none;
    padding: 1%; 
    margin: 0;
}

.follow p, .contact p {
    font-weight: bold; 
    margin-top: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}


.follow a, .contact a {
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}


.contact img {
    height: 20px; 
    width: auto; 
    margin-right: 5px; 
}
.follow img {
    height: 20px; 
    width: auto; 
    margin-right: 5px;
}


