@import url("site-header.css");
@import url("call-to-action.css");
@import url("flip-card.css");
@import url("footer.css");
@import url("header.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    
}
.document {
    background-image: url('/img/footer.jpg');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}


.text {
    text-align: center;
    padding-top: 15px;
    color: darkgreen;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.recommendations {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.recommendations li {
    flex: 1;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}
.recommendations a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.recommendations img {
    max-width: 100%;
    height: auto;
}
.recommendations img:first-child {
    height: 257px;
    width: 237px ;
}
.recommendations li:last-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

 .miniplant {
    background-image: url(/img/plantutamicuta.jpg);
    background-repeat: no-repeat;
    padding-top: 35px;
    background-size: contain;
    background-position:center;
}
 .first-column li {
    list-style: none;
    padding-top: 20px;
    padding-left: 300px;;
    color: rgb(18, 50, 18);
    font-size: 25px;
    font-weight: bold;
 } 
 .second-column li {
    list-style: none;
    text-align:end;
    padding-right: 300px;
    padding-bottom: 25px;
    color: rgb(18, 50, 18);
    font-size: 25px;
    font-weight: bold;
 }
 .text {
    text-align: center;
    padding-top: 15px;
    color: darkgreen;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 
 .text-reise {
    text-align: center;
    padding-top: 20px;
    color: rgb(9, 9, 9);
    font-size: 25px;
    font-weight: bold;
    background-color: hsl(34, 78%, 91%, 0.37);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
 }
 .reise {
    padding-top: 20px;
    padding-left: 30px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: hsl(34, 78%, 91%, 0.37);
    gap: 10rem;
}

.reise li {
    flex: 1;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
}
.reise a {
    display:block;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding:40px;
    
}

.reise img {
   width: 60px;
    height: auto;
}

